.todo-list.active{
    margin-left: -50px;
}

.addlist-button{
    position: fixed;
    bottom: 0;
}
@media only screen and (max-width:639px){
    .addlist-button{
        right: 0;
    }
}
.todo-icon{
    width: 50px;
}

.input-modal{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0vh;
    border-radius: 16px 16px 0 0;
    display: none;
}
.input-modal.active{
    height: 92vh;
    display: flex;
}
.button-close-modal{
    width: 100px;
    height: 8px;
}